<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/pages/flashcards.css">
  <title>Game 1</title>
</head>
<body>
  <div class="text-center py-4 mb-4 subheader-bg">
    <h3> Multiple Choice </h3>
  </div>
  <div class="container">
      <p id="current-language" style="margin-bottom: 20px;"></p>
      <p id="translated-word">Click Start to begin!</p>
      <div id="choices"></div>
      <p id="feedback"></p>
      <p id="score">Score: 0</p>
      <button id="next-btn" class="button" disabled>Next</button>
      <button id="start-btn" class="button">Start Game</button>
  </div>
  <script src="/pages/multipleChoice.js" defer></script>
</body>
</html>