<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game 3</title>
  <link rel="stylesheet" href="/pages/flashcards.css">
</head>
<body>
  <div class="text-center py-4 mb-4 subheader-bg">
    <h3> Flashcards </h3>
  </div>
    <div class="container">
            <p id="current-language" style="margin-bottom: 20px;"></p>
            <p id="translated-word">Click Start to begin!</p>
            <input type="text" id="user-input" placeholder="Enter English word" disabled />
            <button id="submit-btn" disabled>Submit</button>
            <p id="feedback"></p>
            <p id="score">Score: 0</p>
            <button id="next-btn" disabled>Next</button>
            <button id="start-btn">Start Game</button>
          </div>
        </div>
  <script src="/pages/flashcards.js" defer></script>
</body>
</html>